.footer
  .footertop
    .company About me
      ul 
        li.companylist 东南大学
        li.companylist 计算机科学与技术
        li.companylist 大三在读
        li.companylist 江苏·南京
    .alink Something
       ul 
        li.linklist QQ:398970409
        li.linklist wechat:TAng_weic
        li.linklist tel:18115160127
        li.linklist 微博:躺躺躺躺玮
    .github 
      .gittitle Github
      .gitball 
        .gitcontent github.com/Godsleeper
  .footerbottom
    .foottitle 挂了别叫妈，就找过了么
    .year @2016
