.footer
  .footertop
    .company 关于我
      ul 
        li.companylist 东南大学
        li.companylist 计算机科学
        li.companylist 大三在读
        li.companylist 微博:躺躺躺躺玮
    .alink 相关链接
       ul 
        li.linklist 东南大学
        li.linklist 计算机科学
        li.linklist 大三在读
        li.linklist 微博:躺躺躺躺玮
    .github 
      .gittitle Github
      .gitball 
        .gitcontent github.com/Godsleeper
  .footerbottom
    .foottitle 挂了别叫妈，就找过了么
    .year @2016
