.topbar
  .topbar_header
    a(href="/").logo 过了么
      span 
      .logotext 
    ul.top_list
      li.top_list_item
        a(href="/") 首页
      li.top_list_item
        a(href="#") 随便看看
      li.top_list_item
        a(href="#") 未完待续
      if user
        li.top_list_item
          span 欢迎您,#{user.name}
          span &nbsp;|&nbsp;
          a(href='/logout') 登出
      else
        li.top_list_item
          a(href="#")#signinbtn 登录
      li.top_list_item
        a(href="/signup")#signupbtn 注册
.mask  
.loginCon
  form(method="POST" action='/user/signin')
    input#signName(type="text",placeholder="username",name='user[name]')
    input#signPassword(type="password",placeholder="password",name="user[password]")
    button.loginbtn(type="submit") Log&nbsp;&nbsp;In
    .mention Don't have an account? 
      a(href="#") Sign up
  .close ×