.headbar
  .topbar
    .topbar_header
      a(href="#").logo 过了么
        span 
        .logotext 
      ul.top_list
        li.active
          a(href="#") 首页
        li
          a(href="#") 科目的科
        li
          a(href="#") 随便看看
        li
          a(href="#") 未完待续
        li
          a(href="#") 未完待续
        li
          a(href="#") 未完待续
    .topbar_content
      .maintitle 挂了别叫妈，就找过了么
    .topbar_footer
      input(type="text").search
      button.searchbtn search

      

