*{
	margin:0px;
	padding: 0px;
	font-family: "Microsoft YaHei"
}

.clearfix{
	zoom:1;
}
.cssmove{
	transition:all 1s;
}
.clearfix:after{
	clear:both;
	content:'.';
	display:block;
	width: 0;
	height: 0;
	visibility:hidden;
}

.topbar{
	position:relative;
	color: #fff;
	height:480px;
	overflow: hidden;
	transition:all 1s;
}



.topbar_model(@height){
	height:@height;
	width:1200px;
	margin: 0 auto;
}

.topbar_header{
	padding: 0px 73px;
	background: rgba(0, 0, 0, 0.3);
	.topbar_model(60px);
	a{
		color:#fff;
		text-decoration: none;
	}
	.logo{
		font-size: 20px;
		font-weight: bold;
		display:inline-block;
		height: 50px;
		line-height: 50px;
		float:left;
		text-decoration: none;
		margin-left:10px;
		.logotext{
			float:left;
			font-weight: bold;
			font-size: 20px;
		}
		span{
			display:inline-block;
			float:left;
			background:url('../images/head_logo.png')no-repeat center left;
			background-size:40px 40px;	
			height:50px;
			width:50px;
		}
	}
	.top_list{
		a:hover{color:rgb(254, 182, 0);}
		float:right;
		list-style: none;
		.top_list_item{
			margin:13px 10px;
			display: inline-block;
			font-size: 14px;
			padding: 5px 10px;
		}
		.subject{
			position:relative;
			
		}
		.subject:hover .subject_content{
			opacity: 1;
			visibility: visible;
			top:30px;
		}
		.active{
			a{color:rgb(254, 182, 0);}	
			border:solid 2px rgb(254, 182, 0);
			border-radius: 3px;
		}
		.subject_content{
			transition:all .5s;
			opacity: 0;
			visibility: hidden;
			background:rgba(0, 0, 0, 0.4);
			border-radius: 5px;
			position: absolute;
			z-index: 1;
			top:0px;
			width: 96px;
			left:-10px;
				li{
				text-align: center;
				list-style: none;
				height:30px;
				line-height: 30px;
				border-bottom: 1px solid rgb(254, 182, 0);
				}
				li:last-child{
					border-bottom: none;
				}
			}
	}
}
.topbar_content{
	position:relative;
	margin-top: 0px;
 	.topbar_model(350px);
 	.maintitle{
 		height:350px;
 		line-height: 350px;
 		text-align: center;
 		font-weight: bold;
 		font-size: 50px;
 	}
 	.listbtn{
 		z-index: 99;
 		position: absolute;
 		top:50%;
 		left:-70px;
 		.imgbtn{
 			list-style: none;
 			height:8px;
 			width: 8px;
 			border-radius: 8px;
 			background:#fff;
 			margin-bottom: 10px;
 			cursor: pointer;

 		}
 		.imgbtn:hover{
 			transition:all 0.3s;
 			transform: scale(1.5);
 		}
 		.list_active{
 			background:rgb(254, 182, 0);
 		}
 	}
 }

 .topbar_bg{
 	width:4047px;
 	height:480px;
 	left:0;
 	top:0;
 	position:absolute;
 	z-index: -9;
 	.img{
 		float:left; 
 	}
 	
 }

.topbar_footer{
 	.topbar_model(70px);
 	
 	.search{
 		padding:10px 10px;
 		float:left;
 		margin-left:440px;
 		border-radius: 5px;
 		border: none;
 	}
 	.triangel{	
 		float:left;
 		width: 0;
   		height: 0;
   		margin-top: 50px;
   		margin-left: -130px;
    	border-left: 6px solid transparent;
   		border-right: 6px solid transparent;
    	border-bottom: 12px solid #fff;
    	transition:all 1s;
    	cursor: pointer;
 	}


 	.triangel:hover{
 		transform:rotate(180deg);
 	}

 	.searchbtn{
 		font-size:20px;
 		padding: 5px 20px;
 		float: left;
 		margin-left: 2px;
 		background:rgb(0, 128, 255);
 		border:none;
 		color:#fff;
 		border-radius: 5px;
 		outline: none;
 		position:relative;
 		transition:all .5s;
 	}
 	.searchbtn:hover{
 		background: rgb(254, 182, 0);
 	}
}

.footthree(){	
	width:33.3%;
	float: left;
	padding-top:40px;
}

.footlist(){
	list-style: none;
	font-size: 12px;
	color:#6F6F6F;
	margin-top: 10px;
}

.footer{
	margin-bottom: 0px;
	height:271px;
	background: rgb(238, 238, 238);
	.footertop{
		.topbar_model(200px);
		border-bottom: 1px solid #fff;
		.company{
			.footthree;
			padding-top:40px;
			.companylist{
				.footlist
			}
		}
		.alink{
		  .footthree;
		  .linklist{
		  	.footlist;
		  }
		  
		}
		.github{
		  .footthree;
		  .gittitle{
		  	margin-bottom: 20px;
		  }
		}
	}
	.footerbottom{
		.topbar_model(70px);
		.foottitle{
			float: left;
			font-size: 24px;
			line-height: 70px;
			color: rgb(0, 128, 255);
		}
		.year{
			float:left;
			font-size: 14px;
			margin-left: 10px;
			color:#6F6F6F;
			line-height: 70px;
		}
	}

	.gitball{
		transition:all 1s;
		background:rgb(0, 128, 255);
		width:50px;
		height:50px;
		border-radius: 50px; 
		overflow: hidden;
	}

	.gitball:hover{
		width:300px;
		color:#fff;
	}

	.gitcontent{
		margin-top:15px;
		margin-left: 60px;
	}
}

.content{
	width:1200px;
	margin: 0 auto;
	margin-top: 30px;
	 .content_maintitle{
	 	color:#4C4C4C;
		height:50px;
		line-height: 50px;
		font-size: 30px;
		font-weight: bold;
		text-align: center;
	}
	 .content_smalltitle{
	 	height: 30px;
	 	line-height: 30px;
	 	text-align: center;
	 	color: #ABABAB;
	 }
	 .content_row{	
	 	.content_r1_c1{
	 		overflow: hidden;
	 		margin:20px 20px;
	 		float:left;
	 		height:360px;
	 		width:30%;
	 		background: #000;
	 		position: relative;
	 		border-radius: 10px;
	 		img{z-index: -9;border-radius: 10px;transition:all .5s;}
	 		h2{
	 			z-index:1; 
	 			width:120px;
	 			height: 120px;
	 			line-height: 120px;
	 			position: absolute;
	 			margin:auto;
	 			left:0;
	 			top: 0;
	 			right: 0;
	 			bottom: 0;
	 			text-align: center;
	 			color:#fff;
	 			transition:all .5s;
	 			a{
	 				text-decoration: none;
	 				color: #fff;
	 			}
	 		}
	 	}
	 	.content_r1_c1:hover{
	 		img{opacity: .5;}
	 		h2{transform:scale(2);}
	 	}

	 }
	


}



