extend ../layout

block content
  .content
    .content_title
      .content_maintitle 瞧瞧这些可怜的工科生
      .content_smalltitle 找到你的专业，让我们来看看有什么是可以帮助你的
    .content_main
      .content_row.clearfix
        each cat in categories
          .content_r1_c1
            .border
            h2
              a(href="#") #{cat.name}
            img(src="/images/content_bg.jpg")
       
  include ../includes/footer
  script(src="/js/index.js")     
    

