extend ../layout

block content
  .content
    .content_title_1
      .content_maintitle Connect with people who have expertise as
      .content_smalltitle Get access to potential teammates that have complimentary skillsets
    .content_main
      .content_row_1 
        .content_r1_c1 
        .content_r1_c2
        .content_r1_c3
    .content_title_2
      .content_maintitle Connect with people who have expertise as
      .content_smalltitle Get access to potential teammates that have complimentary skillsets
    .content_main
      .content_row_2 
        .content_r2_c1 
        .content_r2_c2
        .content_r2_c3

  include ../includes/footer
      
    

