doctype
html
  head
    meta(charset="utf-8")
    title= title
    link(href="/stylesheet/headbar.css" rel="stylesheet")
    link(href="/stylesheet/sign.css" rel="stylesheet")
  body
    include ../includes/headbar
    .signbox
      if user
        .error 您已经登录
      else 
        form(method="POST",action='/user/signin')
          input#signinName.signusername(name='user[name]',type='text',placeholder="用户名")
          input#signinPassword.signpassword(name="user[password]",text="password",placeholder="密码")
          button.signbtn.signinbtn(type='submit') Sign In
          .mention Don't have an account? 
            a(href="#") Sign up
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="js/headbar.js")