doctype
html
  head
    meta(charset="utf-8")
    title= title
    include ../includes/head
    link(href="/stylesheet/sign.css" rel="stylesheet")
  body
    include ../includes/headbar
    .signbox
      form(method="POST",action='/user/signup')
        .signuser
          if user
            .error 您已经登录
            .errorlogo 
          else
            input#signupName.signusername(name='user[name]',type='text',placeholder="用户名")
            input#signupPassword.signpassword(name="user[password]",text="text",placeholder="密码")
            input#rePassword.signpassword(text="password",placeholder="确认密码")
            button.signbtn(type='submit') Sign Up
